<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @leaderboard.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @leaderboard.score %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leaderboard.email %>
</p>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
